<div class="container-namespaces pt-4">
    <ul class="list-namespaces">
        <li class="item-namespace p-1 mb-1 active">
            <img src="/images/angular.png" alt="">
        </li>
        <li class="item-namespace p-1 mb-1">
            <img src="/images/angular.png" alt="">
        </li>
        <li class="item-namespace p-1 mb-1 ">
            <img src="/images/angular.png" alt="">
        </li>
    </ul>
</div>