<div class="container-rooms p-3">
    <ul class="list-rooms">
<!--        <li class="item-room p-2 mb-2">-->
<!--            #general-->
<!--        </li>-->
<!--        <li class="item-room p-2 mb-2">-->
<!--            #hors-sujet-->
<!--        </li>-->
    </ul>
</div>